<% provide(:title, "#{current_user}'s Games") %>
<div class="row-fluid">
<div class="center span10">

<h3 class="text-center">Your Catch Phrase Games</h3>
<p class="text-center"><%= link_to 'New Game', new_game_path, { :class => "btn btn-success"} %></p>

<dl class="dl-horizontal">
  <% @games.each do |game| %>
  <dt>
    <p class="lead"><%= link_to game.name, game %></p>
  </dt>
  <dd>
    <% if game.phrases == nil || game.phrases.length == 0 %>
    <p>This game currently has no phrases.</p>
    <% else %>
    <p>
      <% phrases = game.phrases.split(pattern=', ') %>
      <% cap = 15 %>
      <% if phrases.length < cap %>
        <% phrases[0..phrases.length-2].each do |phrase| %>
          <%= phrase %>,
        <% end %>
        <%= phrases[phrases.length-1] %>
      <% else %>
        <% phrases[0..cap].each do |phrase| %>
          <%= phrase %>,
        <% end %>
        and <%= phrases.length - cap - 1%> more
      <% end %>
      
    </p>
    <% end %>
  </dd>
  <dd>
    <p>
      <%= link_to 'Edit', edit_game_path(game) %>
      <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </dd>

  <% end %>
</dl>


</div>
</div>
