<% provide(:title, "#{current_user}'s Games") %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>
<p>
  <b>Phrases:</b>
  <%= @game.phrases %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
