<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-narrow">
		<div class="masthead">
			<%= render 'layouts/nav' %>
		</div>
		<hr>
		<%= yield %>

		<hr>

    <div class="footer">
      <p>Built by <a target="_blank" href="http://raymondjacobson.com">
      	Raymond Jacobson</a></p>
      <p>Fork/contribute to the <a target="_blank" href="https://github.com/raymondjacobson/custom-catchphrase"/>code</a></p>
    </div>

	</div>
</body>
</html>
